<launch>

  <!--node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="-0.05 -0.055 0.265 0 0.0 0.0 base_link camera_link 100"/-->

  <include file="$(find mx_bringup)/launch/rbc_mini_start.launch" />

  <arg name="lr200" default="false" />
  <arg name="r200" default="true" />
  <arg name="d415" default="false" />

  <include if="$(arg lr200)" file="$(find mx_bringup)/launch/lr200_nodelet_rgbd.launch" />
  <include if="$(arg r200)" file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>
  <include if="$(arg d415)" file="$(find realsense_ros_camera)/launch/rs_rgbd.launch"/>

  <!-- Fake laser -->
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/camera_link"/>
    <param name="range_min" value="0.45"/>
    <remap if="$(arg lr200)" from="image" to="/camera/depth/image"/>
    <remap if="$(arg r200)" from="image" to="/camera/depth/image"/>
    <remap if="$(arg d415)" from="image" to="/camera/depth/image_rect_raw"/>
    <remap from="scan" to="/scan"/>
  </node>

</launch>
