<launch>

  <!--node pkg="tf" type="static_transform_publisher" name="base_to_map" args="0 0 0 0 0 0 base_link map 100" /-->

  <node pkg="tf" type="static_transform_publisher" name="base_to_footprint" args="0.05 0.0 0.0 0 0.0 0.0 base_link base_footprint 100"/>

  <node name="mx_chassis" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
    <rosparam file="$(find ros_arduino_python)/config/rbcBot_params.yaml" command="load" />
  </node>

  <node name="mx_teleop" pkg="mx_teleop" type="mx_teleop_keyboard.py" output="screen">
  <param name="~speed"    value="0.25"/>
  <param name="~turn"    value="1.0"/>
  </node>

</launch>
